[submodule "clawconsole"]
	path = clawconsole
	url = git@github.com:muidea/clawConsole.git

[submodule "clawops"]
	path = clawops
	url = git@github.com:muidea/clawOps.git
[submodule "clawcli"]
	path = clawcli
	url = git@github.com:muidea/clawcli.git
